html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url('./asset/images.jpg');
    font-family: 'Comfortaa', cursive;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.birraaa{
    width: 80%;
    background-color: rgba(245, 245, 245, 0.705);
    border: 10px solid wheat;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    
}

.item{
    font-size: medium;
    
}

.titolo{
    background-color: rgba(255, 255, 255, 0.486);
    text-align: center;
    font-size: x-large;
    padding: 20px;
    /* margin: 40px 600px; */
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Comfortaa', cursive;
}

.imgg{
    height: 400px; 
}

.divv{
    font-size: small;
    background-color: rgba(0, 0, 139, 0.466);
    color: whitesmoke;
    margin-right: 30px;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;
    line-height: 20px;
}

@media only screen and (max-width: 800px ){
    .imgg{
        height: 200px; 
    }
    .titolo{
        text-align: left;
       
    }
    
}